:root {
  --grey-0: #111;
  --grey-1: #333;
  --grey-2: #555;
  --grey-3: #777;
  --grey-4: #999;
  --grey-5: #bbb;
  --grey-6: #ddd;
  --grey-7: #eee;
  --primary-foreground-color: black;
  --primary-background-color: white;
  --border-radius: 0px;
  --font-family:
    -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
  --font-size: 16px;
  --font-weight: 300;

  color: var(--grey-0);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

body {
  margin: 0;
}

p, blockquote, input, ul, ol, dl {
  line-height: 1.5rem;
}

fieldset {
  border: .0625rem solid var(--primary-foreground-color);
  margin-bottom: 1rem;
}

button {
  background: var(--primary-background-color);
  border: .0625rem solid var(--primary-foreground-color);
  border-radius: var(--border-radius);
  color: var(--primary-foreground-color);
  font-size: 1rem;
  padding: .5rem;
}

button:active {
  background: var(--primary-foreground-color);
  color: var(--primary-background-color);
}

button[type="button"] {
  border-color: var(--grey-4);
  color: var(--grey-3);
}

button[type="button"]:active {
  background: var(--grey-4);
  color: var(--primary-background-color);
}

input {
  border: .0625rem solid var(--grey-4);
  border-radius: var(--border-radius);
  font-size: 1rem;
  outline-style: none;
  padding: .5rem;
}

input:focus {
  border-color: var(--grey-2);
}

input[type="checkbox"],
input[type="radio"] {
  height: 1rem;
  border: .0625rem solid var(--primary-foreground-color);
}

hr {
  border-top: .0625rem solid var(--primary-foreground-color);
  border-bottom: 0;
}

blockquote {
  border-left: .50rem solid var(--grey-6);
  margin-left: .50rem;
  padding-left: 1rem;
}

.flex-container {
  display: flex;
}

.flex-container > .flex-item {
  flex: 1 1 auto;
}

.layout {
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.layout.stack header {
  order: 1;
}
.layout.stack nav {
  order: 3;
}
.layout.stack main {
  order: 2;
}
.layout.stack footer {
  order: 4;
}

.one-two-one {
  grid-template-columns: 12.5rem 1fr;
}

.one-two-one header,
.one-two-one footer {
  grid-column-start: 1;
  grid-column-end: -1;
}

.one-two-one-responsive header {
  grid-area: header;
}
.one-two-one-responsive nav {
  grid-area: nav;
}
.one-two-one-responsive main {
  grid-area: main;
}
.one-two-one-responsive footer {
  grid-area: footer;
}

.one-two-one-responsive {
  grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
}

@media (min-width: 22.5rem) {
  .one-two-one-responsive {
    grid-template-columns: 8.25rem 1fr;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }
}

@media (min-width: 31.25rem) {
  .one-two-one-responsive {
    grid-template-columns: 12.5rem 1fr;
  }
}

@media (min-width: 60rem) {
  .one-two-one-responsive {
    grid-template-columns: 21.75rem 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--grey-1);
    color: var(--grey-7);
  }
}
